<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Similarity Checker </title>
   <%-include("partials/css.ejs")%>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>
<body>
  <h1>Similarity Checker</h1>

  <%-include("partials/nav.ejs")%>

  <p> Upload a zip file containing the files you want to compare and receive similarity percentages as a result.</p>

  <br>
  <fieldset id="checkerDiv">
    <form>
      <label for="checkFile">Upload file:</label>
      <input type="file" id="checkFile" name="checkFile">
    </form>

    <div id = "checkerResults">

    </div>

    </fieldset>
  

  <br>
  <br>

  <script src="/javascripts/script.js"></script>   
</body>
</html>